:root {
    --black: black;
    --primary: rgb(0, 225, 255);
}

.bg_black {
    background: var(--black);
}

.txt-primary{
    color: var(--primary) !important;
}
.item-link{
    color: var(--primary) !important;
}

.justify-content-center {
    justify-content: center;
}

.btn-primary-outline {
    background: var(--black) !important;
    border: 1px solid var(--primary);
    color: var(--primary) !important;
}

.border-bottom-primary {
    border-bottom: 1px solid var(--primary);
}

a.txt-primary {
    color: var(--primary);
}

.item-list {
    color: var(--primary);
}

li {
    background: var(--black);
}

.font-bold{
    font-weight: bold !important;
}
